{% extends "base_generic.html" %}
{% block content %}
    <h1>Hi this is {{ name }}</h1>
{% endblock %}
{% endblock }
{% block sidebar %}
{% load static %} <!--就可以直接呼叫static資料夾內的檔案-->
<img src="{% static 'me.jpg' %}" alt="Girl in a jacket" width="500" height="600">
    <ul class="sidebar-nav">
        <h1>Side bar has {{ sidebar|length }} elementa~</h1>
        {% for bar in sidebar %} <!--使用for迴圈跑-->
        <li><a href="">{{ bar }}</a></li>
        {% endfor %}
    </ul>
<table>
    {% for a in articles %}
    <tr>
        <td>{{ a.user }}</td>
        <td>{{ a.content }}</td>
        <td>{{ a.last_updata }}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">

    {% if articles.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}

    <span>{{ articles.number }}</span>
    <span>of</span>
    <span>{{ articles.paginator.num_pages }}</span>

    {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">Next</a>
        <a href="?page={{ articles.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
{% endblock %}